<div class="cards-container">
  <mat-card class="example-card" appearance="outlined" *ngFor="let weapon of weapons">
    <mat-card-header>
      <mat-card-title>{{weapon.name}}</mat-card-title>
      <mat-card-subtitle>{{weapon.type}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image alt="{{weapon.name}}" src="{{weapon.preview}}">
    <mat-card-actions>
      <button mat-button class="full-width" [routerLink]="['/weapon', weapon.id]">
        <div class="btn-container">
          <mat-icon>more</mat-icon>
          <span>Подробнее</span>
        </div>
      </button>
      <button mat-button class="full-width" (click)="addToCart(weapon)">
        <div class="btn-container">
          <mat-icon>shopping_cart</mat-icon>
          <span>Добавить в корзину</span>
        </div>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
