<mat-toolbar>
  <mat-toolbar-row class="header">
    <div routerLink="" class="toolbar no-select" title="Mann Co. We sell products and get in fights">
      <mat-icon>store</mat-icon>
      <span class="little-spacer"></span>
      <span class="company-name">Mann Co.</span>
    </div>
    <span class="big-spacer"></span>
    <div class="toolbar">
      <a mat-flat-button routerLink="" class="nav-link">Главная</a>
      <a mat-flat-button routerLink="weapons" class="nav-link">Оружие</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
